<label>URI</label>
<%= text_field_tag 'wallet[settings][uri]', @wallet.settings[:uri], class: 'form-control mb-3' %>

<label>Secret</label>
<%= text_field_tag 'wallet[settings][secret]', @wallet.settings[:secret], class: 'form-control mb-3' %>
