<h1 class="page-title"><%= t('header.funds') %></h1>
<div class="card card-default">
  <div class="card-currencies">
    <div class="row">
      <div class="col-4 pr-0">
        <div class="currencies-container">
<input type="text" id="search" onkeyup="search()" placeholder="Search for currency name.." title="Type in a name" style="width: 100%;max-width: 100%;">
          <accounts></accounts>
        </div>
      </div>
      <div class="col-8 border-left">
        <div class="card-body">
          <!-- {{template 'flash'}} -->
          <ui-view></ui-view>
        </div>
      </div>
    </div><!-- .row -->
  </div>
</div>
<script>
function search() {
  var input, filter, table, tr, td, i,alltables;
    alltables = document.querySelectorAll("table[data-name=wallet]");
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  alltables.forEach(function(table){
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
  });
}
</script>
<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(window).load(function(){
      $.ajax({
        type: "post",
        url: "<%= gen_address_funds_path %>"
      })
    });
  </script>
<% end %>