<div class="col-xs-10">
  <div class="panel panel-info">
    <div class="panel-heading">
      <span>Market info</span>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal dl-member">
        <%= form_for @market, as: :trading_pair, url: admin_market_url(@market.id) do |f| %>
          <%= render partial: 'shared', locals: {market: @market, form: f} %>
        <% end %>
      </dl>
    </div>
  </div>
</div>
